/*! Tables v1.0.0 - github.com/mtmacdonald/tables | github.com/mtmacdonald/tables/license.txt
!*/
.w-datatable { 
	border: 1px solid #999;
}

.w-datatable table, .w-datatable tr, .w-datatable td, .w-datatable th {
	border:none;
	width:100%;
}

.w-datatable th {
	text-align:left;
}

.w-datatable th { 
	font-size:12px;
	background-color:#ddd;
	border-bottom: 1px solid #999;
	height:30px;
	line-height:30px;
	color:#666;
}

.w-datatable table input[type=text] { 
	height: 20px;
	padding-left: 3px;
}

.w-datatable table select {
	height: 22px;
	width:100%
}

.w-datatable #tableControls{ 
	background-color: #ddd; 
	height: 30px;
	padding: 10px; 
}

.w-datatable #dataTableSearch{ 
	vertical-align:middle;
}

.w-datatable #dataTableSearchInput { 
	width: 200px;
	margin-right: 5px; 
	vertical-align: middle; 
}

.w-datatable #dataTableMatchesLabel { 
	float:right; 
	text-align:right; 
	font-size:11px;
}

.w-datatable #rowCountDetails { 
	margin-right:10px; 
}