
#table { border: 1px solid #999; }
#table table, #table tr, #table td, #table th {border:none!important;}

#table th {text-align:left!important}
#table th 
{ 
 font-size:12px;
 background-color:#ddd;
 border-bottom: 1px solid #999;
 height:30px;
 line-height:30px;
 color:#666;
}
#table table input[type=text] { height: 20px!important;  padding-left: 3px; } 
#table table select { height: 22px; width:100% } 

#tableControls{ background-color: #ddd; height: 30px; padding: 10px; }
#dataTableSearch{ vertical-align:middle; }
#dataTableSearchInput { width: 200px; margin-right: 5px; vertical-align: middle; }
#dataTableMatchesLabel { float:right; text-align:right; font-size:11px;}